* {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

p {
    padding: 5px;
    margin: 5px;
}

nav {
    height:100px;
    background: rgb(165, 165, 165);
    display:flex;
    justify-content: space-around;
    align-items:center;
    border-radius: 5px;
}

body {
    background-color: beige
}

ul {
    padding: 20px;
}

img {
    width: 250px;
    height: 300px;
    border: solid black 2px;
}

form {
    padding: 10px;
    margin: 10px;
}

.card_list {
    font-size: 15px;
    display: grid;
    justify-content: center;
}

.card_creation {
    border: solid black 2px;
}

.card_creation_link {
    font-size: 30px;
}

#card_list {
    column-count: 4;
}

#card_div {
    display: flex;
    flex-direction: column;
    height: 150vh;
    align-items: center;
    padding-right: 35px;
}
